/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/

$white: #FFFFFF;
$lighter-grey: #F5F5F5;
$light-grey: #D6D6D6;
$grey: #ADADAD;
$dark-grey: #858585;
$black: #333333;
$yellow: #FFBA27;
$red: #D54D4D;
$dark-blue: #2A343F;
$steel: #AAAEB2;
$lighter-steel: #D9D7CE;
$dirty-white: #F5F2EA;
$green: #699E63;
$blue: #6989C2;

/*****************************************************************************/
/*
/* GENERAL STYLING
/*
/*****************************************************************************/

// Links
a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;

  // Resolves the bootstrap white gap issue
  width: auto !important;
  overflow-x: hidden !important;

  // In order to see the page content due to fixed navigation
  padding-top: 115px;

  @media screen and (min-width: 768px) {
    padding-top: 148px;
  }

	// Font rendering optimization
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Removes border on focus
select:focus,
input:focus,
a:focus {
  outline: none;
}

// Custom checkbox's
input[type="checkbox"]:checked + label {
 	border-color: $black;
}

// Cross browser compatible hr
.hr {
  border: none;
  margin: 0;
  background: $lighter-steel;
  height: 1px;
}

.hr-short {
  border: none;
  background: $lighter-steel;
  height: 1px;
  width: 50px;
  margin: 0 auto;
}

// Removes unwanted box-shadow
.panel {
  box-shadow: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

// Border radius on .btn

.btn {
	border-radius: 0;
}

// Color and size select buttons

.styled-select {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   width: 100%;
   cursor: pointer;
   overflow: hidden;
   display: inline;
   position: relative;
   border-radius: 0;
   border: none;

   &.icon-drop-down::before {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $dark-grey;
		transform: scale(0.7);
		pointer-events: none;
   }
}
