.home-page {
  height: 1000px; // for dev purposes - temporary
}

.slick-homepage {
  .slick-dots {
    bottom: 0px;
    text-align: left;
    padding-left: 50px;
    li button:before {
      color: $white;
      font-size: 10px;
      color: $yellow;
    }
  }
}

.home-carousel-item {
  .home-carousel-caption {
    top: 50px;
    position: absolute;
    text-align: center;
    width: 400px;
    color: $white;
    .home-carousel-title {
      font-size: 40px;
    }
    .home-carousel-btn {
      position: relative;
      background: $yellow;
      text-transform: uppercase;
      padding: 10px 20px;
      letter-spacing: 2px;
      font-size: 18px;
      color: $black;
    }
  }
}
