.home-page {
  background: $dirty-white;
}

.slick-homepage {
  .slick-dots {
    bottom: 0px;
    text-align: left;
    padding-left: 50px;
    li button:before {
      color: $white;
      font-size: 10px;
      color: $yellow;
    }
  }
}

.home-carousel-item {
  .home-carousel-caption {
    margin-left: 6%;
    bottom: 25px;
    position: absolute;
    text-align: center;
    width: 550px;
    color: $white;
    .home-carousel-title {
      font-size: 40px;
      text-transform: uppercase;
      margin: 0;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .home-carousel-hr {
      width: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .home-carousel-btn {
      background: $yellow;
      text-transform: uppercase;
      padding: 10px 20px;
      margin-top: 15px;
      letter-spacing: 1px;
      font-size: 18px;
      color: $black;
      &:hover {
        background: lighten($yellow, 5%);
      }
    }
  }
}

.home-suggestions-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
}

.home-suggestions-hr {
  width: 50px;
  text-align: center;
  border-top: 1px solid $dark-grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-suggestions-description {
  text-align: center;
  color: $grey;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.home-viewall {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 25px;
  .home-viewall-btn {
    background: $yellow;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 18px;
    color: $black;
    &:hover {
      background: lighten($yellow, 5%);
    }
    border-left: 25px solid $dirty-white;
    border-right: 25px solid $dirty-white;
  }
  .home-viewall-hr {
    margin: -12px 0 8px 0;
    border-top: 1px solid $light-grey;
  }
}
