.mix-match-page {
  min-height: 600px; // TODO: only for dev
  background-color: $white;
}
.mix-match-page-title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 1px;
}
