.my-account {
  min-height: 500px; //FIXME: temp
}
.my-account-title {
  padding: 20px 0;
  .my-account-title-text {
    font-size: 21px;
    padding-left: 10px;
    &:before {
      font-size: 26px;
      position: relative;
      bottom: -5px;
      margin-right: 10px;
    }
  }
}
.my-account-content {
  background: $white;
  border: 1px solid $light-grey;
  padding: 20px;
  margin-bottom: 50px; //FIXME: temp
}
.my-account-sidebar {
  .my-account-sidebar-items {
    padding: 10px;
    border-top: 1px solid $light-grey;
    &:last-child {
      border-bottom: 1px solid $light-grey;
    }
  }
  .active {
    background: $lighter-grey;
  }
}
