.my-orders {
  padding-bottom: 50px;
}
.my-orders-wrapper {
  background: $white;
  border: 1px solid $light-grey;
  padding: 20px;
}
.my-orders-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 0 10px;
  border-bottom: 1px solid $light-grey;
}
