.my-account {
  min-height: 500px; //FIXME: temp
}
.my-account-title {
  padding: 20px 0;
  .my-account-title-text {
    font-size: 21px;
    padding-left: 10px;
    &:before {
      font-size: 26px;
      position: relative;
      bottom: -5px;
      margin-right: 10px;
    }
  }
}
.my-account-content {
  background: $white;
  border: 1px solid $light-grey;
  padding: 20px;
  margin-bottom: 50px; //FIXME: temp
}
.my-account-sidebar {
  .my-account-sidebar-items {
    padding: 10px;
    border-top: 1px solid $light-grey;
    &:last-child {
      border-bottom: 1px solid $light-grey;
    }
  }
  .active {
    background: $lighter-grey;
  }
}
.banner-one {
  min-height: 100px;
  background: $dark-blue;
  padding: 30px 10px;
  text-transform: uppercase;
  .banner-one-title {
    color: $white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .banner-hr {
    width: 50px;
    background: $white;
    margin: 5px auto;
  }
  .banner-one-subtitle {
    color: $white;
    text-align: center;
    font-size: 12px;
  }
  .banner-one-btn-wrapper {
    margin-top: 15px;
    text-align: center;
    .banner-one-btn {
      background: $yellow;
      text-align: center;
      padding: 8px 12px;
      letter-spacing: 1px;
      &:hover {
        background: lighten($yellow, 5%);
      }
    }
  }
}
