.address-book {
  padding-bottom: 50px;
}
.address-book-wrapper {
  background: $white;
  border: 1px solid $light-grey;
  padding: 20px;
}
.address-book-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 0 10px;
  border-bottom: 1px solid $light-grey;
}
.box-addresses-title {
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 0 10px;
}
.address-book-dark-box {
  background: $lighter-grey;
  padding: 15px 10px;
  color: $dark-grey;
  position: relative;
  margin-bottom: 15px;
  .address-book-dark-box-title {
    color: $black;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
.address-box-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
  button {
    text-transform: uppercase;
    font-size: 12px;
    img {
      height: 12px;
      margin: 0 5px 5px 0;;
    }
  }
}
.address-book-white-box {
  border: 1px solid $light-grey;
  padding: 15px 10px;
  color: $dark-grey;
  position: relative;
}
.address-book-edit-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
  button {
    text-transform: uppercase;
    font-size: 12px;
    img {
      height: 12px;
      margin: 0 5px 5px 0;;
    }
  }
}
.add-new-address-btn {
  button {
    text-transform: uppercase;
    background: $yellow;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 15px;
    font-size: 16px;
    &:hover {
      background: lighten($yellow, 5%);
    }
  }
}
