/*****************************************************************************/
/*
/* PAGINATION
/*
/*****************************************************************************/

.item-list-pagination {
  margin-bottom: 20px;
  width: 75%;
  float: right;

  select.select {
    height: 30px;
    padding: 0 30px 0 10px;
    color: $dark-grey;
  }

  .item-count {
    display: inline-block;
    top: 0;
    margin: 0 10px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

.pagination {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  .active {
    color: $yellow;
  }

  .page-numbers {
    padding-left: 0;
    margin: 0.3em 0 0;
    letter-spacing: 0.1em;
  }

  .page-numbers-bottom {
    padding-bottom: 4em;
  }

  .page-numbers li {
    display: inline-block;
    font-size: 14px;
    color: $dark-grey;

    a:hover,
    a:focus {
      color: $yellow;
    }
  }

  .icon-prev::before,
  .icon-next::before {
    font-size: 22px;
    vertical-align: middle;
  }
}
