/*****************************************************************************/
/*
/* POP PAGE
/*
/*****************************************************************************/

.pop-page {
    background: $dirty-white;
}

#pop-page {
    text-transform: uppercase;
}

.mobile-filter-row {
  padding: 1em 0;
}

.breadcrumb {
  background: none;
  padding: 1em 0;
  font-size: 1em;
}

.product-filter {
	padding: 0;
}

.product-type {
  margin: 0;
}

// Product type accordion menu

.panel-heading,
.panel-body {
  padding: 0 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0;
}

.panel-title {
  background-color: $dirty-white;
  font-size: 1.5em;
  padding-bottom: 0.1em;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel {
  background-color: transparent;
  border: none;
}

.collapsed {
  font-size: 0.6em;
}

// Size Box

.size-box,
.color-box,
.designer-box,
.price-box {
  padding: 1em 0 0;
}

// Price slider

.slider-col {
  padding: 0 2.2em 2em;
}

.ui-slider-horizontal {
  height: 0.3em;
  background: $light-grey;
  border: none;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  border-radius: 50%;
  background: $dark-blue;
  border: none;
}

.ui-slider-range {
  background: $yellow;
}

// Buttons

.clear-btn {
    color: $dark-grey;
}

.clear-all-btn {
  border: 1px solid $grey;
  color: $dark-grey;
  background: $white;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.clear-btn-row {
  padding: 0 1em;
}

.language-currency-select {
  padding-top: 5em;
}

// Buttons for sidebar at mobile view

.sort-by-xs {
  margin: 0.25em 0;
}

.sort-by-xs-button {
  margin: 0.5em 0.5em 0 0;
  background: $white;
  color: $dark-grey;
  border: 1px solid $grey;
}

.per-page-xs-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../../assets/img/arrow-67.png) no-repeat 28px 6px $white;
  background-size: 1em;
  padding: 0.2em 2em 0.2em 0.5em;
  border-radius: 0;
  border: 1px solid $grey;
  color: $dark-grey;
}

// Designer box

.designer-list {
  margin-top: 1em;
  margin-left: 1em;
  border: 1px solid $light-grey;
  height: 200px;
  overflow: scroll;
  width: 90%;
}

// Placeholder image

// .placeholder-img {
//   margin: 1em 0;
// }

.text-capitalize {
  text-transform: capitalize;
}

// Section heading - Text

.section-heading {
  font-size: 4em;
  font-weight: 200;
}

.product-title {
  font-size: 1.2em;
}

// Pagination

.item-list-pagination {
  padding: 2em 0;
  font-size: 0.9em;
}

.pagination {
  margin: 0 auto;
  padding-left: 15px;
}
.pagination-active {
  color: $yellow;
}

.page-numbers {
  padding-left: 0;
  margin: 0.5em 0 0;
  letter-spacing: 0.5em;
}

.page-numbers-bottom {
  padding-bottom: 4em;
}

.page-numbers li {
  display: inline-block;
  font-size: 1.1em;
}

.page-prev,
.page-next {
  height: 20px;
}

// Gallery items

.thumbnail-img {
  padding-bottom: 1.25em;
  max-width: 210px;
  max-height: 280px;
}

.shop-item {
  background: $white;
  font-size: 1em;
  border: 1px solid $light-grey;
  border-radius: 2px;
  color: $dark-grey;
  margin-bottom: 2.2em;
  // for overlay
  position: relative;
}

.sale-flag {
  height: 3em;
  width: 3em;
  border: 1px solid $red;
  border-radius: 50%;
  color: $red;
  position: absolute;
  padding: 0.7em 0.3em;
  margin: 1em 0 0 1em;
}

.new-flag {
  height: 3em;
  width: 3em;
  color: $black;
  position: absolute;
  padding: 0.7em 0.3em;
  margin: 1em 0 0 1em;
}

// Gallery items overlay

.overlay {
  background: rgba(0,0,0,.1);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  outline: 10px solid $white;
}

.shop-item:hover .overlay{
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.quicklook-btn {
  margin-top: 50%;
  height: 45px;
}

.favourites-btn {
  margin-top: 20px;
  height: 35px;
}

// Quicklook and favourites button changes on hover

.quicklook-btn:hover {
  content: url("../../../assets/img/quicklook-hover.png");
}

.favourites-btn:hover {
  content: url("../../../assets/img/Heart-inverted.png");
}

// Bottom SEO text area

.text-normalize {
  text-transform: none;
}

/*****************************************************************************/
/*
/* MEDIA QUERIES
/*
/*****************************************************************************/

@media screen and (max-width: 991px) {
  .thumbnail-img {
    max-width: 100%;
    max-height: 100%;
  }
  .sale-flag,
  .new-flag {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }

}

@media screen and (max-width: 768px) {
  .search-box {
    text-align: center;
  }

  #footer {
    text-align: center;
  }

  .card-info {
    text-align: center;
  }

  .payment-cards {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .breadcrumb {
    display: none;
  }

  .dropdown-menu li a {
    text-align: center;
  }

  .navbar-default {
    text-align: center;
  }

  .overlay {
    display: none;
  }

  .sale-flag,
  .new-flag {
    zoom: 0.9;
    -moz-transform: scale(0.9);
  }

  .newsletter-box {
    padding: 0;
  }

  .per-page {
    margin: 0.5em 0;
    background-position: 90px 6px;
  }

  .language-select-xs,
  .currency-select-xs {
    background: url(../../../assets/img/arrow-67-white.png) no-repeat 70px 12px $dark-blue;
    background-size: 1em;
    color: $white;
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em 2em 0.5em 1em;
    margin: 0;
  }
}

@media screen and (max-width: 437px) {
  .social-icons {
    padding-left: 0;
  }

  #pop-page,
  #footer {
    overflow-x: hidden;
  }

  .imprint-row {
    text-align: center;
  }

  .sale-flag,
  .new-flag {
    zoom: 0.5;
    -moz-transform: scale(0.5);
  }
}

@media screen and (max-width: 375px) {
  #sidebar {
    padding-left: 3em;
    padding-right: 2em;
  }
}
