
.modal-dialog {
  margin-top: 7%;
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {
  margin-top: -50px;
  margin-right: -50px;
}

.modal-content {
  border-radius: 0;
  height: 580px;
}
