.search-result {
  text-align: center;
  .search-results-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $dark-grey;
  }
  .search-result {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $black;
    font-size: 42px;
    font-weight: 200;
  }
  .search-result-hr {
    border-top: 1px solid $light-grey;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.search-result-details {
  padding: 10px 15px;
  text-transform: none;
  .search-result-details-data {

  }
  .search-result-details-text {
    color: $dark-grey;
  }
}
.search-result-warning {
  margin: 10px 15px 20px;
  padding: 10px 15px;
  border: 1px solid $red;
  border-radius: 2px;
  background: $white;
  text-transform: none;
}
