.size-guide-content {
  border-radius: 0;
}

.size-guide-table {
  .tr-title {
    background: $dark-blue;
    color: $white;
    th,
    td {
      padding: 10px 15px;
      text-align: center;
      font-weight: 400;
    }
  }
  .tr-size {
    border-bottom: 1px solid $dark-blue;
    td {
      padding: 10px 15px;
      text-align: center;
    }
  }
}
