@charset "UTF-8";
/*****************************************************************************/
/*
/* TYPOGRAPHY
/*
/*****************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* GENERAL STYLING
/*
/*****************************************************************************/
a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: auto !important;
  overflow-x: hidden !important; }

/*****************************************************************************/
/*
/* HEADER
/*
/*****************************************************************************/
.header {
  background: #2A343F; }

#header {
  background: #2A343F;
  font-size: 0.8em;
  text-align: center; }

.header-left li,
.header-right li {
  display: inline-block;
  margin: 10px 10px; }

.header-left,
.header-right {
  margin-bottom: 0; }

.header-icons {
  height: 20px;
  padding-right: 10px; }

.header-left {
  color: #ADADAD;
  padding-left: 0; }

.header-left a:hover {
  color: #FFFFFF; }

.language-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #D6D6D6;
  border: none;
  background: transparent;
  width: 21px; }

.language-select:hover {
  color: #FFFFFF;
  cursor: pointer; }

.header-right .cart-items {
  margin: 10px 0; }

.cart-item-number {
  background: #FFBA27;
  padding: 2px 7px;
  width: 21px;
  border-radius: 50%;
  color: #2A343F;
  font-size: 1.1em; }

.header-right {
  color: #D6D6D6; }

.header-right a:hover {
  color: #FFFFFF; }

/*****************************************************************************/
/*
/* NAVIGATION
/*
/*****************************************************************************/
.sunrise-logo {
  height: 3em; }

.logo-search {
  padding: 1em 0 0; }

.search-box input {
  background: url(../../../assets/img/magnifying-glass34.png) no-repeat 270px 4px #F5F2EA;
  background-size: 20px;
  border: 1px solid rgba(170, 174, 178, 0.5);
  border-radius: 3px;
  padding: 0 1em; }

.search-field {
  width: 300px;
  margin: 6px 0;
  height: 30px; }

.nav-row {
  font-size: 1.1em;
  padding: 0;
  height: 40px; }

.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav .open a:hover {
  background: none; }

.nav .open > a,
.nav .open > a:focus {
  border-bottom: 2px solid #2A343F; }

.navbar-collapse .navbar-nav .mega-dropdown {
  display: inline-block; }

.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0; }

.navbar {
  margin-bottom: 0; }

.navbar-nav > li > a:hover {
  border-bottom: 2px solid #2A343F; }

.navbar-nav .open .dropdown-menu {
  background: #FFFFFF;
  width: 100%; }

.mega-dropdown {
  position: static !important; }

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0; }

.mega-dropdown-menu > li > ul > li {
  list-style: none; }

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal; }

.mega-dropdown-menu .dropdown-header {
  color: #2A343F;
  font-size: 18px;
  font-weight: bold; }

.sale-icon {
  margin-top: -0.4em;
  padding-right: 0.3em;
  height: 1.5em; }

.navbar-nav {
  margin: 0; }

.navbar-nav > li {
  float: none;
  display: inline-block; }

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 7px; }

.navbar-nav > li.open > ul.dropdown-menu {
  position: absolute;
  border: 1px;
  margin-top: -9px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

/*****************************************************************************/
/*
/* POP PAGE
/*
/*****************************************************************************/
.pop-page {
  background: #F5F2EA; }

#pop-page {
  font-size: 0.9em;
  text-transform: uppercase; }

.hr {
  margin: 0;
  border: 1px solid rgba(214, 214, 214, 0.4); }

.hr-short {
  border: 1px solid #d6d6d6;
  width: 50px;
  margin: 0 auto; }

.offcanvas-btn {
  font-size: 1.5em;
  color: #FFFFFF;
  background: #2A343F;
  padding: 0.4em 0.4em;
  margin: 0.5em 0.5em;
  position: absolute;
  z-index: 1; }

.breadcrumb {
  background: none;
  padding: 0.5em 0.5em; }

.product-filter {
  padding: 0.5em 0.5em; }

.product-type {
  margin: 10px -15px 0; }

.panel-heading,
.panel-body {
  padding: 0 0; }

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0; }

.panel-title {
  background-color: #F5F2EA;
  font-size: 1.5em;
  padding-bottom: 0.1em; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel {
  background-color: transparent;
  border: none; }

.collapsed {
  font-size: .6em; }

.size-box,
.color-box,
.designer-box,
.price-box {
  padding: 1em 0 0; }

.slider-col {
  padding: 0 2.2em 2em; }

.ui-slider-horizontal {
  height: 0.3em;
  background: transparent;
  border: none; }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  border-radius: 50%;
  background: #2A343F;
  border: none; }

.ui-slider-range {
  background: #FFBA27; }

.per-page {
  background: white;
  border-radius: 0;
  margin: 0 0.5em; }

.clear-btn {
  color: #858585; }

.designer-list {
  margin-top: 1em;
  margin-left: 1em;
  border: 1px solid #D6D6D6;
  height: 200px;
  overflow: scroll;
  width: 90%; }

.placeholder-img {
  margin: 1em 0; }

.text-capitalize {
  text-transform: capitalize; }

.section-heading {
  font-size: 4em;
  font-weight: 200; }

.item-list-pagination {
  padding: 2em 0;
  font-size: 0.9em; }

.pagination {
  margin: 0 auto;
  padding-left: 15px; }

.pagination-active {
  color: #FFBA27; }

.page-numbers {
  padding-left: 0;
  margin-bottom: 0;
  letter-spacing: 0.5em; }

.page-numbers-bottom {
  padding-bottom: 4em; }

.page-numbers li {
  display: inline-block;
  font-size: 1.1em; }

.page-prev,
.page-next {
  height: 20px; }

.thumbnail-img {
  padding-bottom: 1.25em; }

.shop-item {
  background: #FFFFFF;
  font-size: 1em;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  color: #858585;
  padding: 1em 1em 0;
  margin-bottom: 2.2em;
  position: relative; }

.gallery-item {
  padding: 0 1em; }

.sale-flag {
  height: 3em;
  width: 3em;
  border: 1px solid #D54D4D;
  border-radius: 50%;
  color: #D54D4D;
  position: absolute;
  padding: 0.7em 0.3em; }

.new-flag {
  height: 3em;
  width: 3em;
  color: #333333;
  position: absolute;
  padding: 0.7em 0.3em; }

.overlay {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  border: 10px solid #FFFFFF; }

.shop-item:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%; }

.quicklook-btn {
  margin-top: 50%;
  height: 45px; }

.favourites-btn {
  margin-top: 20px;
  height: 35px; }

.quicklook-btn:hover {
  content: url("../../../assets/img/quicklook-hover.png"); }

.favourites-btn:hover {
  content: url("../../../assets/img/Heart-inverted.png"); }

.text-normalize {
  text-transform: none; }

/*****************************************************************************/
/*
/* FOOTER
/*
/*****************************************************************************/
.footer {
  background: #2A343F; }

#footer {
  font-size: 0.7em;
  font-weight: 200;
  padding-top: 2em;
  color: white;
  background: #2A343F;
  letter-spacing: 0.1em; }

.sub-footer {
  background: #333333;
  padding-top: 1em;
  font-size: 0.8em; }

#footer ul {
  list-style: none;
  padding-left: 0; }

#footer ul li {
  padding: 0.5em 0; }

.footer-title {
  color: #858585;
  font-size: 1em;
  margin: 0 0; }

.newsletter-box {
  padding: 3em 0; }

.email-box {
  width: 200px;
  color: #white;
  background: #333333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0.5em 0.5em; }

.email-submit input {
  background: url(../../../assets/img/arrow-28-32.png) no-repeat 183px 1px #333333;
  background-size: 12px;
  padding: 0 1em; }

.card-info {
  padding-top: 5em; }

.payment-cards {
  width: 240px; }

.footer-title-yellow {
  color: #FFBA27;
  text-align: center; }

.social-icons li {
  display: inline-block; }

.social-icon {
  max-height: 20px; }

/*****************************************************************************/
/*
/* OFF CANVAS MENU MEDIA QUERIES
/*
/*****************************************************************************/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; }

  .row-offcanvas-right.active {
    right: 50%; }

  .row-offcanvas-left.active {
    left: 50%; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    padding-left: 2em; } }
@media screen and (max-width: 375px) {
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%; }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%; }

  .row-offcanvas-right.active {
    right: 80%; }

  .row-offcanvas-left.active {
    left: 80%; }

  .sidebar-offcanvas {
    width: 80%; } }
/*****************************************************************************/
/*
/* MEDIA QUERIES
/*
/*****************************************************************************/
@media screen and (max-width: 768px) {
  .search-box {
    text-align: center; }

  #footer {
    text-align: center; }

  .card-info {
    text-align: center; }

  .payment-cards {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .breadcrumb {
    display: none; }

  #sidebar {
    padding-top: 1em; }

  .dropdown-menu li a {
    text-align: center; }

  .navbar-default {
    text-align: center; }

  .overlay {
    display: none; } }
@media screen and (max-width: 629px) {
  .cart-item-number,
  .your-bag,
  .call-us {
    display: none; }

  .header-right {
    height: 20px; }

  .item-list-pagination {
    font-size: 0.5em; }

  .item-list-pagination .page-prev,
  .item-list-pagination .page-next {
    height: 11px; }

  .header {
    font-size: 0.7em; }

  .nav-row {
    font-size: 1em; } }
@media screen and (max-width: 437px) {
  .navbar-nav > li > a {
    font-size: 0.7em; }

  .social-icons {
    padding-left: 0; }

  #pop-page,
  #footer {
    overflow-x: hidden; } }
@media screen and (max-width: 375px) {
  #sidebar {
    padding-left: 3em;
    padding-right: 2em; } }
@media screen and (max-width: 320px) {
  .nav-row {
    font-size: 0.8em; }

  .clear-btn {
    padding-right: 0; }

  .header-icons {
    display: none; } }
/*****************************************************************************/
/*
/* TEMPORARY FOR DEV PURPOSES
/*
/*****************************************************************************/
.pdp-page {
  height: 1000px; }

/*****************************************************************************/
/*
/* PDP PAGE
/*
/*****************************************************************************/
.breadcrumb-col {
  padding-left: 0; }

.pdp-breadcrumb {
  font-size: 0.9em; }

.vertical-img {
  margin: 0.3em 0;
  border: 1px solid #AAAEB2; }

.vertical-img:hover {
  border: 1px solid #333333; }

.grey-p {
  color: #ADADAD; }

.rating {
  float: left; }

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.2;
  color: #ADADAD; }

.rating:not(:checked) > label:before {
  content: '★ '; }

.rating > input:checked ~ label {
  color: #FFBA27; }

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFBA27; }

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px; }

.view-details {
  color: #858585;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.9em; }

.product-price {
  font-size: 2em; }

.select-row {
  padding: 0 0 1.5em; }

.styled-select select {
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  height: 30px;
  cursor: pointer;
  -webkit-appearance: none; }

.styled-select {
  width: 150px;
  height: 34px;
  overflow: hidden;
  background: url(../../../assets/img/arrow-67.png) no-repeat 127px 8px #FFFFFF;
  background-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.size-guide-col {
  padding-top: 2.3em; }

.size-guide-thumb {
  height: 30px;
  padding-right: 0.5em; }

.size-guide {
  text-transform: uppercase;
  color: #858585; }

.bag-items {
  border: 2px solid #FFBA27;
  text-align: center;
  font-size: 1.5em;
  height: 40px;
  width: 40px;
  padding: 0.1em 0.5em; }

.add-to-bag {
  background: #FFBA27;
  text-transform: uppercase;
  font-weight: 900; }

.bag-thumb {
  height: 25px;
  margin: 0.5em 1em; }

/*# sourceMappingURL=main.css.map */
