<!-- start continue-shopping-button-left.hbs -->
<div class="col-sm-6 col-xs-12">
    <div>
        <a href="{{meta._links.continueShopping.href}}" class="text-uppercase continue-shopping-btn">{{i18n "checkout:continueShopping"}}</a>
    </div>
</div>
<!-- end continue-shopping-button-left.hbs -->
