<div class="order-summary">
    <span class="text-uppercase order-summary-title">{{content.orderSummary}}:</span>
    <span class="checkout-total-items">{{content.itemsTotal}}</span>
</div>
{{> checkout/checkout-item}}
