<!-- start catalog/home/view-products-link.hbs -->
<a href="{{cms "banner:homeViewProducts.linkHref"}}" class="home-viewall-btn">
  {{cms "banner:homeViewProducts.linkText"}}
</a>
<hr class="home-viewall-hr">
<!-- end catalog/home/view-products-link.hbs -->
