<!-- start catalog/home/view-all.hbs -->
<a href="{{meta._links.newProducts.href}}" class="home-viewall-btn">{{i18n "home:viewAllNewProductsBtn"}}</a>
<hr class="home-viewall-hr">
<!-- end catalog/home/view-all.hbs -->
