<!-- start location/store-location.hbs -->
<div class="store-location-wrapper">
  {{> location/map }}
  <div class="addresses">
    <ul class="list">
      {{> location/address-item addresses=list.addresses}}
    </ul>
  </div>

</div>
<!-- end location/store-location.hbs -->
