<div class="footer">
  <div id="footer" class="container">
    <div class="row text-uppercase">
      <div class="col-sm-2">
        <div class="footer-col">
          <ul>
            <li class="footer-title hidden-xs">Customer Care</li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Size Guide</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 hidden-xs">
        <div class="footer-col">
          <ul>
            <li class="footer-title">About Us</li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 hidden-xs">
        <div class="footer-col">
          <ul>
            <li class="footer-title">Shortcuts</li>
            <li><a href="">My Account</a></li>
            <li><a href="">Store Locator</a></li>
            <li><a href="">Gift Cards</a></li>
            <li><a href="">Payment</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 text-center newsletter-box">
        <div class="row">
          <div class="col-sm-5 text-left footer-title-yellow">
            <p>Join our newsletter</p>
          </div>
          <div class="col-sm-7">
            <form class="email-submit" action="">
              <input class="email-box" type="text" placeholder="Your email ...">
              <button type="submit" class="search-button"><span class="icon-font icon-next"></span><span class="sr-only">Search</span></button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 text-left card-info footer-title">
            <p>Pay securely with these payment methods</p>
            <img src="assets/img/cards.png" alt="payment types" class="img-responsive payment-cards">
          </div>
          <div class="col-sm-4 text-left card-info footer-title">
            <p>Follow us</p>
            <ul class="social-icons">
              <a href=""><li><img class="social-icon" src="assets/img/facebook-32.png" alt="facebook"></li></a>
              <a href=""><li><img class="social-icon" src="assets/img/pinterest-32.png" alt="pinterest"></li></a>
              <a href=""><li><img class="social-icon" src="assets/img/google-plus-32.png" alt="google plus"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sub-footer">
  <div class="container">
    <div class="row text-uppercase">
      <div class="col-sm-12">
        <ul class="footer-title imprint-row">
          <li class="hidden-xs">&copy; 2015 Sunrise</li>
          <a href="#"><li>Imprint</li></a>
          <a href="#"><li>Privacy policy</li></a>
          <a href="#"><li>Terms of use</li></a>
          <li class="visible-xs">&copy; 2015 Sunrise</li>
        </ul>
      </div>
    </div>
  </div>
</div>
