<!-- start checkout/order-summary/discount-summary.hbs -->
{{#if meta.features.cartDiscounts.active}}
    <div class="row text-right payment-code-applied">
        <span class="payment-code-title">Promotion code applied:</span>
        <span class="payment-code">Sunny Sale</span>
    </div>
{{/if}}
<!-- end checkout/order-summary/discount-summary.hbs -->
