<form class="pdp-form-button-container" id="form-add-to-holograms{{index}}" name="add-to-holograms" action="{{@root.meta._links.addToSavedHolograms.href}}">
  <button type="submit" class="btn pdp-product-hologram">
    <span class="sr-only">{{i18n "catalog:holograms.add"}}</span>
  </button>
</form>
