<div class="alert-overlay">
  <div class="alert-wrapper">
    <div class="alert-box">
      <div class="alert-text">
        {{i18n "content.messages.reachedMaximumAlert"}}
      </div>
      <div class="alert-link">
        <a href="#">{{i18n "content.messages.addToWishlistAlert"}}</a>
      </div>
    </div>
  </div>
</div>
