<div class="alert-overlay">
  <div class="alert-wrapper">
    <div class="alert-box">
      <div class="alert-text">
        {{content.messages.reachedMaximumAlert}}
      </div>
      <div class="alert-link">
        <a href="#">{{content.messages.addToWishlistAlert}}</a>
      </div>
    </div>
  </div>
</div>
