<div class="alert-overlay">
  <div class="alert-wrapper">
    <div class="alert-box">
      <div class="alert-text">
        You have reached the maximum quantity you can add to your bag
      </div>
      <div class="alert-link">
        <a href="#">Add to wishlist</a>
      </div>
    </div>
  </div>
</div>
