<p class="item-count">{{i18n "content.displaySelector.title"}}</p>
<div class="custom-select-wrapper">
	<select name="{{displaySelector.key}}" class="select-product-detail">
	  {{#each displaySelector.list}}
	    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{name}}</option>
	  {{/each}}
	</select>
</div>
