<div class="row">
  <div class="col-sm-12">
    <div class="pop-filter-select select-facet {{#if facet.countHidden}}two-column-select{{/if}}">
      {{#each facet.limitedOptions}}
        <div>
        {{> catalog/facet-option-input facet=../facet option=this}}
        </div>
      {{/each}}
    </div>
  </div>
</div>