<div class="bzoom_wrap hidden-xs">
    <ul id="bzoom">
        {{#each content.product.images}}
            <li>
                <img class="bzoom_thumb_image" src="{{thumbImage}}">
                <img class="bzoom_big_image" src="{{bigImage}}">
            </li>
        {{/each}}
    </ul>
</div>
<div class="gallery-mobile visible-xs">
    {{#each content.product.images}}
        <img src="{{bigImage}}" alt="Product Image" />
    {{/each}}
</div>