<div class="mix-match-product">
  <div class="row">
    <div class="col-xs-3">
      <div class="mix-match-product-img">
        <img class="img-responsive" src="http://placehold.it/150x200" alt="product image">
      </div>
    </div>
    <div class="col-xs-9">
      <div class="mix-match-product-description">
        <div class="mix-match-product-name">Enditatem Product Line One</div>
        <div class="mix-match-product-name">Enditatem Product Line Two</div>
        <div class="mix-match-product-sku">SKU #SUN1234567</div>
        <div>
          <span class="mix-match-product-oldprice">€ 200,00</span>
          <span class="mix-match-product-price">€ 150,00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mix-match-product-attributes">
    <ul class="list-inline">
      <li>
        <div>Color</div>
        <select name="" id="">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
        </select>
      </li>
      <li>
        <div>Size</div>
        <select name="" id="">
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
        </select>
      </li>
      <li>
        <input type="checkbox">
        <label for="">Add Product</label>
      </li>
    </ul>
  </div>
</div>
