<div class="popular-search-phrases-title">Popular Search Phrases</div>
<div class="popular-search-phrases-wrapper">
  <div class="popular-search-phrases">
    {{#each content.phrases.popular}}
      <div>{{text}}</div>
    {{/each}}
  </div>
</div>
<div class="popular-products-title">Popular Products</div>
