<div class="signup-box-wrapper">
  <div class="clearfix">
    <div class="pull-left">
      <div class="signup-box-title">New Customer Registration</div>
    </div>
    <div class="pull-right">
      <div class="signup-box-required">Required Fields*</div>
    </div>
  </div>
  <hr class="signup-box-hr">
  <div class="signup-box-description">Create an account to store your products, easy checkouts, customer discounts, benefits and more.</div>
  <div class="signup-box-input">
    <span>Title</span><br>
    <select>
      <option value="">Choose your title</option>
      <option value="Mr.">Mr.</option>
      <option value="Mrs.">Mrs.</option>
    </select>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="signup-box-input">
        <span>First Name*</span><br>
        <input type="text" name="" value="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="signup-box-input">
        <span>Second Name*</span><br>
        <input type="text" name="" value="">
      </div>
    </div>
  </div>
  <hr class="signup-box-hr">
  <div class="signup-box-input">
    <span>Email*</span><br>
    <input type="email" name="" value="">
  </div>
  <div class="signup-box-input">
    <span>Confirm Email*</span><br>
    <input type="email" name="" value="">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="signup-box-input">
        <span>Password*</span><br>
        <input type="password" name="" value="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="signup-box-input">
        <span>Confirm Password*</span><br>
        <input type="password" name="" value="">
      </div>
    </div>
  </div>
  <hr class="signup-box-hr">
  <div class="signup-box-newsletter">
    <input type="checkbox" name="" value="">
    <span>Please add me to the <a href="">SUNRISE Newsletter</a></span>
  </div>
  <div class="signup-box-terms">
    <input type="checkbox" name="" value="">
    <span>I agree to the <a href="">Terms and Conditions</a></span>
  </div>
  <div class="signup-box-policy">SUNRISE does not share or sell personal info. See <a href="#">Privacy Policy</a></div>
  <button class="signup-register-btn">Register Now</button>
</div>
