<div class="modal fade" id="size-guide" tabindex="-1" role="dialog" aria-labelledby="size-guide">
  <div class="modal-dialog" role="document">
    <div class="modal-content size-guide-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table class="clothing-table">
          <tr class="tr-title">
            <td>&nbsp;</td>
            <td>XXS</td>
            <td>XS</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
            <td>XXL</td>
            <td>XXXL</td>
          </tr>
          <tr class="tr-countries-size">
            <td>Australia</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
            <td>Size</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
