<!-- start catalog/pdp/add-to-wishlist-btn.hbs -->
<button type="submit" class="btn add-to-wishlist-btn">
  {{#if text}}<span class="hidden-xs">{{i18n "catalog:wishlist.add"}}</span>{{/if}}
</button>
<!-- end catalog/pdp/add-to-wishlist-btn.hbs -->
