<!-- start catalog/pdp/add-to-bag-btn.hbs -->
<button id="" class="add-to-bag-btn">
  <img class="bag-thumb" src="{{@root.meta.assetsPath}}img/hand-bag-2-black-0f0a4bb44e659f46bc1cddf96a215736.png" alt="{{i18n "catalog:cart.add"}}">
  {{i18n "catalog:cart.add"}}
</button>
<!-- end catalog/pdp/add-to-bag-btn.hbs -->
