<!-- start catalog/pdp/product-social.hbs -->
<div class="social-share">
  <ul class="social-icons pdp-social-icons">
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-12431b2940f7598cd5ede040b2e0f513.png" alt="facebook">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-969ba6c31f812003a1c5660c14fb2388.png" alt="pinterest">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-ab6b938d30f79d0148c8120b112c4237.png" alt="google plus">
    	</li>
    </a>
  </ul>
</div>
<!-- end catalog/pdp/product-social.hbs -->
