<!-- start catalog/pdp/product-social.hbs -->
<div class="social-share">
  <ul class="social-icons pdp-social-icons">
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-a06248937624f5df1ec4d84d6e9eceee.png" alt="facebook">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-e832665d73dc7ff9f37e7718c4c5903d.png" alt="pinterest">
    	</li>
    </a>
    <a href="">
    	<li>
    		<img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-d55ac7690b39ea702b84aa0fce8348b5.png" alt="google plus">
    	</li>
    </a>
  </ul>
</div>
<!-- end catalog/pdp/product-social.hbs -->
