<!-- start catalog/pdp/social-icons.hbs -->
<ul class="social-icons">
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-a06248937624f5df1ec4d84d6e9eceee.png" alt="Facebook"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-e832665d73dc7ff9f37e7718c4c5903d.png" alt="Pinterest"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-d55ac7690b39ea702b84aa0fce8348b5.png" alt="Google+"></li></a>
</ul>
<!-- end catalog/pdp/social-icons.hbs -->
