<!-- start catalog/pdp/social-icons.hbs -->
<ul class="social-icons">
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook-f10564006467ecf00a80126922cf88fc.png" alt="Facebook"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest-149215e2d032bff27e52778530a2b3b3.png" alt="Pinterest"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Google-3e22a7fda746a9db109580bd14d4c4bc.png" alt="Google+"></li></a>
</ul>
<!-- end catalog/pdp/social-icons.hbs -->
