<!-- start common/logo.hbs -->
<a href="{{@root.meta._links.home.href}}" class="brand-logo">
  <img class="img-responsive" src="{{@root.meta.assetsPath}}img/logo-4937001dc82afc24588d7582a6230bf5.svg" alt="SUNRISE">
</a>
<!-- end common/logo.hbs -->
