<!-- start common/logo.hbs -->
<a href="{{@root.meta._links.home.href}}" class="brand-logo">
  <img class="img-responsive" src="{{@root.meta.assetsPath}}img/logo-f8a1bf464a32a43cead69a9d830dd3f1.svg" alt="SUNRISE">
</a>
<!-- end common/logo.hbs -->
