<!-- start common/logo.hbs -->
<a href="{{@root.meta._links.home.href}}" class="brand-logo">
  <img class="img-responsive" src="{{@root.meta.assetsPath}}img/logo-7e25db9f08031f9cc5e291bca855fe2a.svg" alt="SUNRISE">
</a>
<!-- end common/logo.hbs -->
