<div class="store-location-wrapper">
  {{> location/map }}
  <div class="addresses">
    {{> location/address-active address=addresses.active}}
    {{> location/address-list address=addresses.list}}
  </div>

</div>
