<div class="map">
  <div id="map"></div>
</div>
<script>
    var map;
    function initialize() {
        // creates the map with default options
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: new google.maps.LatLng(48.1545702, 11.5616558), // FIXME: here needs to be the "city/country/place" where it will be centered at first (this is a mock lat for Munich)
            mapTypeId: 'roadmap',
            scrollwheel: false,
            draggable: false
        });

        // icons folder
        var iconBase = '../../assets/img/map/';

        // defines the default map marker icon
        var icons = {
            default: {
                icon: iconBase + 'pointer-active.png'
            }
        };

        // assigns the .json array to the map markers array
        var features = [
          {{#each stores}}
              {
                  position: new google.maps.LatLng({{this.storeInfo.location}}),
                  type: 'default'
              },
          {{/each}}
        ];

        // creates the map markes for each address object in the array
        for (var i = 0, feature; feature = features[i]; i++) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                animation : google.maps.Animation.DROP,
                map: map
            });
        }
    }

    // the default function when you click the div with the address
    // so it will center the map to the coordinates contained in "onclick"
    function setLocation(newLat, newLng) {
        map.setCenter({
            lat : newLat,
            lng : newLng
        });
        map.setZoom(15);
    }

    function computeDistance(fromLatLng, toLatLgn) {
      var transformedToLatLgn = toLatLgn.split(", ");
      var toLat = parseFloat(transformedToLatLgn[0]);
      var toLng = parseFloat(transformedToLatLgn[1]);

      var transformedFromLatLgn = fromLatLng.split(", ");
      var fromLat = parseFloat(transformedFromLatLgn[0]);
      var fromLng = parseFloat(transformedFromLatLgn[1]);

      var fromLatLng = new google.maps.LatLng(fromLat, fromLng);
      var toLatLng = new google.maps.LatLng(toLat, toLng);
      var result = google.maps.geometry.spherical.computeDistanceBetween(fromLatLng, toLatLng);
      var result = parseFloat(Math.round(result) / 1000).toFixed(2);

      return result;
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkfg2iJdYwmmOiUZ-DG6XpsKD5GBQO7OM&callback=initialize&libraries=geometry">
</script>
