<!-- start checkout/edit-link.hbs -->
{{#if enabled}}
    <a id="{{id}}" href="{{url}}">
      <span class="pull-right">
          <img src="{{@root.meta.assetsPath}}img/edit-1-2b7e8483b4bb1bfc5a2daf069c3f56d1.png" class="checkout-summary-edit-icon" alt="">{{i18n "main:form.edit"}}
      </span>
    </a>
{{/if}}
<!-- end checkout/edit-link.hbs -->
