<!-- start checkout/secure-checkout-title.hbs -->
<div class="secure-payment">
    <span><img class="secure-payment-icon" src="{{@root.meta.assetsPath}}img/credit-card-lock-9b9e07a3bbc1150a0cfb893d3e1a64dd.png" alt="secure payment"></span>
    <span class="text-uppercase secure-payment-title">{{i18n titleKey}}</span>
</div>
<!-- end checkout/secure-checkout-title.hbs -->
