<!-- start checkout/secure-checkout-title.hbs -->
<div class="secure-payment">
    <span><img class="secure-payment-icon" src="{{@root.meta.assetsPath}}img/credit-card-lock-b54b0d4f68e06661ec8daf82a86c8b88.png" alt="secure payment"></span>
    <span class="text-uppercase secure-payment-title">{{i18n titleKey}}</span>
</div>
<!-- end checkout/secure-checkout-title.hbs -->
