<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/checkout-header}}

  Thank you page

  {{> common/checkout-footer}}
  {{> common/htmlscripts}}
  </body>
</html>
