<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/checkout-header}}
  <div class="checkout-signin">
    <div class="container">
      <div class="secure-payment">
        <span><img class="secure-payment-icon" src="{{meta.assetsPath}}img/credit-card-lock.png" alt="secure payment"></span>
        <span class="text-uppercase secure-payment-title">{{content.secureCheckoutTitle}}</span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="returning-customer">
            <div class="clearfix returning-customer-title">
              <h4>Returning Customer Sign in</h4>
              <span>Required*</span>
            </div>
            <div class="returning-customer-field">
              <span class="if-account-title">If you have an account, please sign in for faster checkout.</span>
              <div class="row">
                <div class="col-sm-8">
                  <div class="returning-customer-input">
                    <span class="returning-customer-email-title">Email Address*</span>
                    <input class="returning-customer-email" type="text">
                    <span class="returning-customer-password-title">Password*</span>
                    <input class="returning-customer-password" type="password">
                    <div class="clearfix returning-customer-remember-forget">
                      <span class="returning-customer-rememberme"><input type="checkbox"> Remember me</span>
                      <span class="returning-customer-forgot"><a href="#">Forgot Password</a></span>
                    </div>
                  </div>
                </div>
              </div>
              <a class="quick-checkout-btn btn" href="#">Quick Checkout</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="guest-checkout">
            <div class="clearfix guest-checkout-title">
              <h4>Guest Checkout</h4>
              <span>Required*</span>
            </div>
            <span class="guest-checkout-first-paragraph">No problem, you do not need to create an account to place an order.</span>
            <span class="guest-checkout-second-paragraph">To make future purchases even faster, you will have the option of creating an acocount during checkout.</span>
            <a class="btn continue-guest-btn" href="#">Continue As Guest</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> common/checkout-footer}}
  {{> common/htmlscripts}}
  </body>
</html>
