<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  {{> common/checkout-header}}
  <div class="checkout-shipping">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          {{> checkout/secure-checkout-title titleKey="checkout.confirmationPage.title"}}
        </div>
        <div class="col-md-5">
          {{> checkout/step-widget}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="checkout">
            <div class="row">
              <div class="col-sm-4 checkout-first-col">
                {{> checkout/address-confirmation address=content.shippingAddress titleKey="checkout.shippingAddress" editable=true}}
              </div>
              <div class="col-sm-4 checkout-second-col">
                {{> checkout/address-confirmation address=content.billingAddress titleKey="checkout.billingAddress" editable=true}}
              </div>
              <div class="col-sm-4 checkout-third-col">
                {{> checkout/shipping-method-confirmation}}
                {{> checkout/payment-confirmation}}
              </div>
            </div>
            {{> checkout/order-summary cart=content.cart mainClass="confirmation-products-title" editable=false checkoutConfirmation=true}}
          </div>
        </div>
      </div>
    </div>
    {{> common/checkout-footer}} {{> common/htmlscripts}}
</body>

</html>
