<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="container">

    <div class="my-account-login-page-title">
      <span class="icon-user">{{i18n "catalog:contactUs.title"}}</span>
    </div>

    <div>
      This is the contact form page
    </div>

  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
