<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="container">

    <div class="my-account-login-page-title">
      <span class="icon-user">{{i18n "catalog:contactUs.title"}}</span>
    </div>

    <div class="contact-form-content-wrapper">
      <div class="contact-form-title-row">
        <span class="contact-form-title">Please fill in our contact form</span>
        <span class="hidden-xs contact-form-required">Required Fields*</span>
      </div>
      <div class="contact-form-description">
        <div>Our multilingual Customer Experience team is available 24/7 for nay question, styling advice or placing orders.</div>
        <div>Call us on: +49 (89) 222 435 1234</div>
        <div class="contact-form-description-respond">We aim to respond within 24 working hours.</div>
      </div>
      <div>
        {{> form/contact-form-form form=content}}
      </div>
    </div>

  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
