<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  <div class="darkbg hidden"></div>
  {{> common/header}}

  <div class="home-page">

    {{> catalog/home-banners}}

    <div class="container">
      <h4 class="home-suggestions-title">{{text}}</h4>
      <hr class="home-suggestions-hr">
      <p class="home-suggestions-description">{{description}}</p>
      <div class="row">
        {{#each content.suggestions.list}}
          <div class="col-xs-12 col-sm-6 col-md-3 ">
            {{> catalog/product-thumbnail context=..}}
          </div>
        {{/each}}
      </div>

      <div class="home-viewall">
        <a href="" class="home-viewall-btn">View All New Products</a>
        <hr class="home-viewall-hr">
      </div>
    </div>
  </div>

  {{> catalog/wishlist}}
  {{> common/footer}}
  {{> common/htmlscripts}}
  </body>
</html>
