<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/header}}

  <div class="home-page">
    <div class="slick-homepage">
      <div class="home-carousel-item">
        <img src="{{meta.assetsPath}}img/banner_desktop.jpg" alt="" />
        <div class="home-carousel-caption">
          <h4 class="home-carousel-title">Here Comes The Sun 1</h4>
          <hr class="home-carousel-hr">
          <p>
            Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants,
          </p>
          <a href="#" class="btn home-carousel-btn">Shop Collection 1</a>
        </div>
      </div>
      <div class="home-carousel-item">
        <img src="{{meta.assetsPath}}img/banner_desktop.jpg" alt="" />
        <div class="home-carousel-caption">
          <h4 class="home-carousel-title">Here Comes The Sun 2</h4>
          <p>
            Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants,
          </p>
          <a href="#" class="btn home-carousel-btn">Shop Collection 1</a>
        </div>
      </div>
      <div class="home-carousel-item">
        <img src="{{meta.assetsPath}}img/banner_desktop.jpg" alt="" />
        <div class="home-carousel-caption">
          <h4 class="home-carousel-title">Here Comes The Sun 3</h4>
          <p>
            Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants, Lorem Bananas Mee Wants,
          </p>
          <a href="#" class="btn home-carousel-btn">Shop Collection 1</a>
        </div>
      </div>
    </div>
  </div>

  {{> catalog/wishlist}}
  {{> common/footer}}
  {{> common/htmlscripts}}
  </body>
</html>
