<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}


  <div class="mix-match-page">
    <div class="container">
      {{> catalog/breadcrumb breadcrumb=content.breadcrumb}}
      <div class="row">
        <div class="col-md-6">
          {{> catalog/product-gallery gallery=content.gallery}}
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>


  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
