<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-account">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">MY ACCOUNT</span>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="my-account-content">
            <div class="row">
              <div class="col-md-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items active">
                    Personal Details
                  </div>
                  <div class="my-account-sidebar-items">
                    Personal Details
                  </div>
                  <div class="my-account-sidebar-items">
                    Personal Details
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                Welcome back, Bruce Wayne
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="my-account-banners">
            Banners
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
