<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-account">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">MY ACCOUNT</span>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="my-account-content">
            <div class="row">
              <div class="col-md-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items active">
                    Personal Details
                  </div>
                  <div class="my-account-sidebar-items">
                    Address Book
                  </div>
                  <div class="my-account-sidebar-items">
                    Payment Details
                  </div>
                  <div class="my-account-sidebar-items">
                    My Orders
                  </div>
                  <div class="my-account-sidebar-items">
                    Returns/Exchange
                  </div>
                  <div class="my-account-sidebar-items clearfix">
                    <span><img class="sidebar-wishlist-heart" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>My Wishlist<span class="sidebar-wishlist-quantity">12</span>
                  </div>
                  <div class="my-account-sidebar-items">
                    Sign Out
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                Welcome back, Bruce Wayne
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="my-account-banners">
            <div class="banner-one">
              <div class="banner-one-title">
                Your Sunrise
              </div>
              <hr class="banner-hr">
              <div class="banner-one-subtitle">
                Make the great days happen
              </div>
              <div class="banner-one-btn-wrapper">
                <a class="banner-one-btn" href="#">Shop All</a>
              </div>
            </div>
            <div class="banner-two">
              This is the second banner
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
