<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-account">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">MY ACCOUNT</span>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="my-account-content">
            <div class="row">
              <div class="col-sm-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items active">
                    <a href="#">Personal Details</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="#">Address Book</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="#">Payment Details</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="#">My Orders</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="#">Returns / Exchange</a>
                  </div>
                  <div class="my-account-sidebar-items clearfix">
                    <a href="#">
                      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>My Wishlist<span class="sidebar-wishlist-quantity hidden-sm">12</span>
                    </a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="#">Sign Out</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="personal-details">
                  <div class="personal-details-text-one">
                    Welcome back Bruce Wayne,
                  </div>
                  <div class="personal-details-text-two">
                    for an even better customer service please provide your customer number:<br>
                    <span class="customer-number">1010101069691010</span>
                  </div>
                  <div class="personal-details-landing-wrapper">
                    <div class="personal-details-title">
                      Your Personal Details
                    </div>
                    <div class="personal-details-box">
                      <div>Mr. Bruce Wayne</div>
                      <div>Password: ******</div><br>
                      <div>Phone: +49 123 123 123 123</div>
                      <div>Email: batman@gotham.com</div><br>
                      <div>Subscribbed to weekly newsletter</div>
                      <div class="personal-details-box-edit">
                        <button><img src="assets/img/edit-1.png" alt="edit icon">EDIT</button>
                      </div>
                    </div>
                  </div>
                  <div class="personal-details-edit-wrapper">
                    <div class="personal-details-title">
                      <span>Your Personal Details</span>
                      <span class="pull-right required-text">Required *</span>
                    </div>
                    <form action="">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-sections">
                            <span class="form-labels">Title</span><br>
                            <select class="select-input" name="" id="">
                              <option value="" disabled selected>Choose your title</option>
                              <option value="">Mr.</option>
                              <option value="">Mrs.</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">First Name*</span><br>
                            <input class="form-inputs" type="text">
                          </div>
                          <div class="form-sections">
                            <span class="form-labels">Password*</span><br>
                            <input class="form-inputs" type="text">
                          </div>
                          <div class="form-sections">
                            <span class="form-labels">Primary Telephone Number*</span><br>
                            <input class="form-inputs" type="text"><br>
                            <span class="form-notes">Please provide your lorem ipsun, bla bla bla, Please provide your lorem ipsun, bla bla bla</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">Second Name*</span><br>
                            <input class="form-inputs" type="text">
                          </div>
                          <div class="form-sections">
                            <span class="form-labels">Confirm Password*</span><br>
                            <input class="form-inputs" type="text">
                          </div>
                          <div class="form-sections">
                            <span class="form-labels">Email Address*</span><br>
                            <input class="form-inputs" type="text"><br>
                            <span class="form-notes">Please provide your lorem ipsun, bla bla bla, Please provide your lorem ipsun, bla bla bla</span>
                          </div>
                        </div>
                      </div>
                    </form>
                    <hr class="light-grey-hr">
                    <div class="personal-details-newsletter">
                      <span>
                        <input type="checkbox"> Please add me to the <a href="">SUNRISE Newsletter</a>
                      </span>
                    </div>
                    <div class="personal-details-edit-btn">
                      <span>
                        <button class="update-btn">Update details</button>
                        <button class="cancel-btn">Cancel</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="my-account-banners">
            <div class="banner-one-wrapper">
              <div class="my-account-banner">
                <div class="banner-title">
                  Your Sunrise
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  Make the great days happen
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="#">Shop All</a>
                </div>
              </div>
            </div>
            <div class="banner-two-wrapper">
              <div class="my-account-banner image-banner">
                <div class="banner-title">
                  Your Sunrise
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  Make the great days happen
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="#">Shop All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
