<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="pop-page">
    <div id="pop-page" class="container">
      <div class="pop-alert-overlay hidden">
        <div class="pop-alert-wrapper">
          <div class="pop-alert-box">
            <div class="pop-alert-text">
              {{i18n "content.messages.pleaseWait"}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 figure-col">
          {{> catalog/banner}}
        </div>
      </div>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-12">
          {{> catalog/breadcrumb}}
        </div>
        <div class="product-filter hidden-xs">
          {{> catalog/filters-sidebar}}
        </div>
        <div class="col-sm-9">
          <div class="dark-overlay"></div>
          <div class="row jumbotron-row">
            <div class="col-xs-12">
              {{> catalog/jumbotron}}
            </div>
          </div>
          <div class="row visible-xs">
            <div class="col-xs-12">
              <ul class="mobile-filter-list clearfix">
                <li class="pull-left">
                  <button type="button" class="offcanvas-btn offcanvas-open" data-toggle="modal" data-target="#sidebar-overlay">{{content.filters.open}}</button>
                </li>
                <li class="pull-left">
                  {{> catalog/results-summary}}
                </li>
              </ul>
            </div>
            {{> catalog/filters-sidebar-mobile}}
          </div>
          <hr class="hr hidden-xs">
          <div class="row hidden-xs item-list-pagination">
            <div class="col-xs-4 text-left">
              {{> catalog/results-summary}}
            </div>
            <div class="col-xs-4 text-center pagination">
              <ul class="page-numbers">
                {{> catalog/pagination}}
              </ul>
            </div>
            <div class="col-xs-4 text-right">
              {{> catalog/display-selector}}
            </div>
          </div>
          <div class="row">
            {{#each content.products.list}}
              <div class="col-xs-12 col-sm-6 col-md-4">
                {{> catalog/product-thumbnail context=..}}
              </div>
            {{/each}}
          </div>
          <div class="row">
            <div class="col-xs-12 text-center pagination">
              <ul class="page-numbers page-numbers-bottom">
                {{> catalog/pagination}}
              </ul>
            </div>
          </div>
          <hr class="hr">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="seo-title">{{content.seo.text}}</h1>
              <p class="seo-text">{{content.seo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> catalog/wishlist}}

  {{> common/footer}}

  {{> common/htmlscripts}}
</body>

</html>
