<!-- start catalog/facet-option-link.hbs -->
<li {{#if selected}}class="category-active"{{/if}}>
  <a href="{{value}}">
    {{label}} {{#unless facet.countHidden}}<span class="facet-count">({{option.count}})</span>{{/unless}}
  </a>
  <ul class="dropdown-subcategory">
    {{#each children}}
      {{> catalog/facet-option-link facet=../facet option=this}}
    {{/each}}
  </ul>
</li>
<!-- end catalog/facet-option-link.hbs -->
