<!-- start catalog/product-availability.hbs -->
<div class="availability">
  <span class="glyphicon glyphicon-ok-sign"></span>{{i18n "catalog:availability.available"}}
</div>
<!-- end catalog/product-availability.hbs -->
